
body {
  font-family: Arial, sans-serif;
  padding: 40px;
  max-width: 800px;
  margin: auto;
}
label {
  font-weight: bold;
}
input[type="radio"] {
  margin: 0 5px;
}
button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
}


#exitButton {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

#exitButton:hover {
    background-color: #c0392b;
}
